.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../assets/background.webp');
  background-size: cover;
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
