.empleado {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

@media (max-width: 768px) {
    .empleado {
        width: auto;
    }
  .table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    width: 100%;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 1rem;
    border-bottom: 2px solid #ddd;
  }

  td {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: right;
  }

  td::before {
    content: attr(data-th);
    font-weight: bold;
    text-align: left;
  }
}