.button {
  font-family: "Urbanist", sans-serif;
  display: inline-block;
  cursor: pointer;
  border: 1px solid var(--bg-color);
  border-radius: 8px;
  font-weight: 900;
  line-height: normal;
  margin: 0;
  min-height: 32px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.primary {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.primary:hover{
  color: var(--text-color);
  background: var(--accent-color);
}

.secondary {
  background-color: gray;
  color: var(--bg-color);
}

.danger {
  background-color: red;
  color: var(--bg-color);
}

.success {
  background-color: green;
  color: var(--bg-color);
}

