.button {
  font-family: "Urbanist", sans-serif;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--bg-color);
  border-radius: 8px;
  font-weight: 900;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.button:hover{
  border-radius: 64px;
}

.primary, .link {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.primary:hover{
  color: var(--text-color);
  background: var(--bg-color);
}

.secondary:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.danger:hover {
  background-color: var(--danger-color);
  color: var(--bg-color);
  border: 1px solid var(--danger-color);
}

.success {
  background-color: green;
  color: var(--bg-color);
}

.link{
  border: none;
}

.link:hover {
  color: var(--text-color);
  background: var(--bg-color);
}

